<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="sidebar">
        <h2>StockApp</h2>
        <nav>
            <ul>
                <li><a href="{{ url_for('dashboard') }}" class="active">Dashboard</a></li>
                <li><a href="#">Analytics</a>
                    <ul>
                        <li><a href="{{ url_for('technical_analysis') }}">Technical Analysis</a></li>
                        <li><a href="{{ url_for('fundamental_analysis') }}">Fundamental Analysis</a></li>
                        <li><a href="{{ url_for('lstm') }}">LSTM</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('index') }}">Historical Data</a></li>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <header>
            <h1>Dashboard</h1>
        </header>
        <h2>Top 10 Most Tradeable Stocks</h2>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Issuer</th>
                    <th>Average Price</th>
                    <th>Change in %</th>
                    <th>Volume</th>
                    <th>Turnover</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock[0] }}</td>
                    <td>{{ stock[1] }}</td>
                    <td>{{ stock[2] }}</td>
                    <td>{{ stock[3] }}</td>
                    <td>{{ stock[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
